<% include ../partials/header %>
<div class="row">
    <h1 class="text-center">I am... am I...</h1>
        <form class="form-width" action="/verify/<%=token%>" method="post">
                <button class="btn btn-lg btn-primary btn-block">Who am I?</button>
        </form>
          <a href="/">Go back</a>
</div>
<% include ../partials/footer %>